/*-- scss:defaults --*/

// import google fonts
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Manrope:wght@200..800&display=swap');

// fonts
$bricolage: "Bricolage Grotesque", sans-serif;

// colors
$darkyellow: #fcc765;
$mediumgreen: #5a9e6b;
$lightgreen: #8ed483;
$cream: #fff9e8ff;
$lightyellow2: #fcf7d2;
$lightyellow: #fff2c0ff;
$darkgreen: #396845ff;
$lightblue: #BFDDEC;
$lighterblue: #d0e9f5;
$darkblue: #182A68;
$red: #83111F;

$primary: $darkgreen;

// define quarto variables
$body-bg: $lighterblue;
$navbar-bg: $darkblue;
$navbar-fg: $cream;
$navbar-hl: $lightyellow;
$link-color: $lightgreen;
$body-color: $darkblue;
//$btn-primary-color: $lightyellow;
$btn-primary-bg: $darkgreen;
$btn-primary-border-color: $darkgreen;
$btn-primary-color: $darkgreen;

// L body text
.body-text-l {
  font-size: 100px !important;
	line-height: 1.9em !important;
	margin-bottom: 1em !important;
}

/*-- scss:rules --*/

.navbar-brand img {
  max-height: 80px;  // adjust as needed
}

.about-contents {
  border-left: 1px solid $darkgreen;
}

#quarto-content.trestles-content {
  border-left-color: $darkgreen;
}

.trestles-left {
  border-right: 1px solid $darkgreen !important;
}

.trestles-left {
  background-color: $lighterblue;
}

// the one that works!
.about-contents {
  border-left: 1px solid $darkgreen !important;
}

// Quarto sidebar border
.sidebar {
  border-color: $darkgreen;
}

// Column rule if using CSS columns
.column-rule {
  border-left-color: $darkgreen;
}


.panel-tabset .tab-content {
  border-color: $darkgreen;
}

.panel-tabset .nav-tabs {
  border-bottom-color: $darkgreen;
}

//.panel-tabset .nav-link {
//  border-color: $darkgreen;
//}

.panel-tabset .nav-link.active {
  border-color: $darkgreen;
}

.panel-tabset .nav-link {
  color: $darkgreen;
}

h3, h4, h5, h6 {
  font-family: $bricolage;
  color:$red;
}

h1, h2 {
  font-family: $bricolage;
  color:$red;
}

h1, h2 {
  letter-spacing: 5px;
  font-weight: 800;
}

.title{
  color: $red;
}

.center-text {
  text-align: center;
}

.orange-text {
  color: orange;
}

.yellow-text {
  color: $darkyellow;
}

.darkgreen-text {
  color: $darkgreen;
}

// slightly smaller than default text
.small-text {
  font-size: 17px;
}
