/*-- scss:defaults --*/

// import google fonts
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Manrope:wght@200..800&display=swap');

// fonts
$bricolage: "Bricolage Grotesque", sans-serif;

// colors
$darkyellow: #fcc765;
$mediumgreen: #5a9e6b;
$lightgreen: #8ed483;
$cream: #fff9e8ff;
$lightyellow2: #fcf7d2;
$lightyellow: #fff2c0ff;
$darkgreen: #396845ff;


// define quarto variables
$body-bg: $lightyellow2;
$navbar-bg: $darkgreen;
$navbar-fg: $cream;
$navbar-hl: $lightyellow;
$link-color: $lightgreen;
$body-color: $mediumgreen;
//$btn-primary-color: $lightyellow;
//$btn-primary-bg: $lightyellow;
//$btn-primary-border-color: $lightyellow;
//$btn-primary-color: $darkgreen;

/*-- scss:rules --*/

h3, h4, h5, h6 {
  font-family: $bricolage;
  color:$darkgreen;
}

h1, h2 {
  font-family: $bricolage;
  color:$darkgreen;
}

h1, h2 {
  letter-spacing: 5px;
  font-weight: 800;
}

.title{
  color: $darkgreen;
}

.center-text {
  text-align: center;
}

.orange-text {
  color: orange;
}

.yellow-text {
  color: $darkyellow;
}

.darkgreen-text {
  color: $darkgreen;
}

// slightly smaller than default text
.small-text {
  font-size: 17px;
}